# CONFIGURACIÓN DEL SERVIDOR
SERVER_PORT=8080

# BASE DE DATOS
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bank
DB_USERNAME=postgres
DB_PASSWORD=postgres

# SEGURIDAD Y TOKENS (JWT)
JWT_SECRET=change-this-to-random-secret
JWT_EXPIRATION_MS=3600000

# SERVICIO DE CORREO (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=password